# Install these dependencies
transformers==4.37.2
torch==2.1.2
chromadb==0.4.24
sentence-transformers==2.5.1
huggingface_hub==0.20.3
chainlit 
mistralai 
python-dotenv==1.0.0
networkx==3.2.1
matplotlib==3.8.2

pydantic==2.10.1 
